<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuxtEditor.Patcher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GuxtEditor.UI" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GuxtEditor.Keybinds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GuxtEditor.Patcher>
            <setting name="ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="HackFolder" serializeAs="String">
                <value />
            </setting>
        </GuxtEditor.Patcher>
        <GuxtEditor.UI>
            <setting name="CursorColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="EntityBoxColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="SelectedEntityBoxColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="SelectedTileColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ScreenPreviewColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </GuxtEditor.UI>
        <GuxtEditor.Keybinds>
            <setting name="StageEditor" serializeAs="Xml">
                <value>
                    <KeybindCollection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Keybinds>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>Oemplus</KeyValue>
                                </Input>
                                <Action>ZoomIn</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>Add</KeyValue>
                                </Input>
                                <Action>ZoomIn</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>OemMinus</KeyValue>
                                </Input>
                                <Action>ZoomOut</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>Subtract</KeyValue>
                                </Input>
                                <Action>ZoomOut</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>P</KeyValue>
                                </Input>
                                <Action>PickTile</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>Insert</KeyValue>
                                </Input>
                                <Action>InsertEntity</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>I</KeyValue>
                                </Input>
                                <Action>InsertEntity</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>false</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>Delete</KeyValue>
                                </Input>
                                <Action>DeleteEntities</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>true</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>C</KeyValue>
                                </Input>
                                <Action>Copy</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>true</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>V</KeyValue>
                                </Input>
                                <Action>Paste</Action>
                            </Keybind>
                            <Keybind>
                                <Input>
                                    <Shift>false</Shift>
                                    <Control>true</Control>
                                    <Alt>false</Alt>
                                    <KeyValue>S</KeyValue>
                                </Input>
                                <Action>Save</Action>
                            </Keybind>
                        </Keybinds>
                    </KeybindCollection>
                </value>
            </setting>
        </GuxtEditor.Keybinds>
    </applicationSettings>
</configuration>